<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>所有订单</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../css/orders.css" th:href="@{/css/orders.css}">

    <script src="../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container">
    <!-- 1.引入用户导航条 -->
    <div th:replace="common/nav::user-nav"></div>
    <!-- 2.图书导航条  -->
    <div th:replace="common/nav::book-nav"></div>
    <!-- 3.搜索商品导航条 -->
    <div th:replace="common/nav::search-nav"></div>
    <!-- 4.主体部分 -->
    <div class="main row">

        <!-- 侧边栏 -->
        <div th:replace="common/nav::user-sidebar"></div>
        <!-- 个人订单 -->
        <div class="col-md-9 my-orders">
            <div class="panel panel-default">
                <div class="panel-heading">我的订单(点击订单编号查看订单详情)：</div>
                <div class="panel-body">
                    <!-- 订单列表 -->
                    <table class="table">
                        <!-- 订单列表头 -->
                        <tr class="text-center head">
                            <td>订单编号</td>
                            <td>下单日期</td>
                            <td>收货人</td>
                            <td>支付方式</td>
                            <td>总金额</td>
                            <td>订单状态</td>
                        </tr>
                        <!-- 商品内容 -->
                        <tr class="text-center" th:each="order:${orders}">
                            <td class="order-number">
                                <a th:href="@{/orderDetail/} + ${order.getOrderNumber()}" style="text-decoration: none;color: palevioletred"  th:text="${order.getOrderNumber()}">
                                </a>
                            </td>
                            <td th:text="${order.getOrderTime()}">2020-07-17 16:04:48</td>
                            <td th:text="${order.getAcceptName()}">sn</td>
                            <td th:text="${order.getPayType() == 1?'支付宝':'货到付款'}">货到付款</td>
                            <td th:text="${order.getMoney()}">19.55</td>
                            <td th:text="${order.getStatus() == 1? '待付款' : '已付款'}">待付款</td>
                        </tr>
                    </table>
                    <!-- 分页导航条 -->
                    <nav class="page text-center text" aria-label="Page navigation row" th:if="${pages != 0}">
                        <ul class="pagination">

                            <!-- 首页-->
                            <li class="pagination">
                                <a th:href="@{/myOrderPage}"
                                   aria-label="Previous"><span aria-hidden="true">首页</span></a>
                            </li>

                            <!-- 上一页 pageNum!=1时才显示此标签 -->
                            <li class="pagination" th:if="${pageNum != 1}">
                                <a th:href="@{/myOrderPage(pageNum=${pageNum - 1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <!-- 中间页 要显示5个页码  分为两种情况-->
                            <!-- 1.当总页数小于等于5时才显示该标签
                                直接全部显示
                                #numbers.sequence(num1,num2)
                                返回包含num1到num2的数的数组 包括num1和num2 -->
                            <li th:each="i:${#numbers.sequence(1,pages)}" th:if="${pages<=5}">
                                <a th:href="@{/myOrderPage(pageNum=${i})}"
                                   th:text="${i}"
                                   th:class="${i==pageNum ? 'active' : ''}"></a>
                            </li>

                            <!-- 2.当总页数大于5时 又有3种情况-->
                            <!-- 2.1当前页码是1、2、3的情况下 页码显示的范围是1-5-->
                            <li th:each="i:${#numbers.sequence(1,5)}" th:if="${pageNum<=3 && pages > 5}">
                                <a th:href="@{/myOrderPage(pageNum=${i})}"
                                   th:text="${i}"
                                   th:class="${i==pageNum ? 'active' : ''}"></a>
                            </li>

                            <!-- 2.2当前页码是后面3页的情况下 当前显示页码范围是最后5页-->
                            <li th:each="i:${#numbers.sequence(pages - 4,pages)}"
                                th:if="${pageNum >= pages - 2 && pages > 5}">
                                <a th:href="@{/myOrderPage(pageNum=${i})}"
                                   th:text="${i}"
                                   th:class="${i==pageNum ? 'active' : ''}"></a>
                            </li>

                            <!-- 2.3当前页码是 4 至倒数第4页时 当前显示页码范围是当前页码向前数2个 向后数两个-->
                            <li th:each="i:${#numbers.sequence(pageNum - 2,pageNum + 2)}"
                                th:if="${pageNum >= 4 && pageNum < pages - 2 && pages > 5}">
                                <a th:href="@{/myOrderPage(pageNum=${i})}"
                                   th:text="${i}"
                                   th:class="${i==pageNum ? 'active' : ''}"></a>
                            </li>

                            <!-- 下一页 pageNum为最后一页时不显示此标签 -->
                            <li class="pagination" th:if="${pageNum != pages}">
                                <a th:href="@{/myOrderPage(pageNum=${pageNum + 1})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                            <!-- 尾页-->
                            <li class="pagination">
                                <!-- 跳转到最后一页-->
                                <a th:href="@{/myOrderPage(pageNum=${pages})}"
                                   aria-label="Previous"><span
                                        aria-hidden="true">尾页</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- 5.相关服务 -->
    <div th:replace="common/bottom::services-bottom"></div>
    <!-- 6.页脚 -->
    <div th:replace="common/bottom::footer"></div>
</div>
</body>
</html>